*{
    outline-color: transparent!important;
}
/*PRINCIPAL TOP MENU*/
.topMenu{
    position: fixed;
    float: left;
    width: 100%;
    height: 60px;
    padding: 0px 10%;
    box-sizing: border-box;
    background-color: #fff!important;
    z-index: 100;
    top: 0px;
}
.topMenu .logo{
    float: left;
    width: 180px;
    height: 50px;
    margin-top: 5px;
    background-image: url('http://aitptest.weebly.com/uploads/4/2/0/3/42036587/comptia-aitp-new-logo-red-tagline_2.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.topMenu .menu{
    float: left;
    width: calc(85% - 150px);
    position: relative;
    text-align: center;
    margin-top: 20px;
}
.topMenu .menu .option{
    width: auto;
    display: inline-block;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 14px;
    color: #222;
    cursor: pointer;
    transition:all 0.3s;
    border-bottom: solid 0px #222;
}
.topMenu .menu .option:hover{
    opacity: 0.5;
}
.topMenu .menu .option.active{
    border-bottom: solid 1px #222;
}
/**/
.navbar.navbar-inverse.navbar-fixed-top{
    margin-top: 60px;
    background-color: #333!important;
}
.navbar.navbar-inverse.navbar-fixed-top .navbar-brand{
    color: #fff;
}
/*MAIN CSS*/
.card:nth-child(even){
    margin-top: 80px;
}
.card{
    float: left;
    width: 46%;
    height: auto;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 25px;
    border-radius:10px;
    overflow: hidden;
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.4);
       -moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.4);
            box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.4);
}
.card .head{
    float: left;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px; 
    background-color: #e01c24;
}
.card .head .title{
    float: left;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.card .head .date{
    float: right;
    width: 100%;
    text-align: center;
    color: rgba(255,255,255,0.8);
}
.card .body{
    float: left;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    text-align: left;
    color: #333;
    font-size: 16px;
    box-sizing: border-box;
}
.card .footer{
    float: left;
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
}
.card .footer i{
    font-size: 20px;
    width: 40px;
    text-align: center;
    color: #e01c24;
}
.card .footer .location{
    float: left;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
    border-top: solid 1px rgba(240,240,240,0.8);
}
.card .footer .speaker{
    float: left;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
    border-top: solid 1px rgba(240,240,240,0.8);
}
/*MODAL*/
.modal-content{
    background-color: #fff;
}
.modal-header{
    background-color: #e01c24!important;
    color: #fff!important;
}
.modal-header .close{
    color: #fff;
    opacity: 0.8;
}
.modal-footer .btn.btn-default{
    background-color: rgba(224,28,36,0.8);
    color: #fff;
}
.modal-footer .btn.btn-default:hover{
    background-color: rgba(224,28,36,1);
    color: #fff;
}
.modal-footer .btn.btn-success{
    background-color: rgba(72,157,73,0.8);
    color: #fff;
}
.modal-footer .btn.btn-success:hover{
    background-color: rgba(72,157,73,1);
    color: #fff;
}
.input-group{
    width: 90%;
    margin-bottom: 10px;
    border:solid 1px transparent!important;
    border:solid 1px transparent!important;
    outline: none!important;
}
.input-group-addon{
    background-color: transparent;
    color: #333;
    width: 125px;
    text-align: right;
    padding: 5px 10px;
    border:solid 1px transparent!important;
    outline: none!important;
}
input,
textarea,
.form-control{
    outline: none!important;
    position: relative!important;
    font-weight: lighter!important;
    background-color: #fff!important;
    border: solid 1px transparent!important;
    border-bottom: solid 1px rgba(224,28,36,0.4)!important;
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.0);
       -moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.0);
            box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.0);
}













